.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px red;
}

.Heading {
  font-family: 'Roboto';
  font-size: 29px;
  color: balck;
  font-weight: bold;
}

.CartImage {
  height: 50px;
  width: 50px;
  color: black;
}
.Title {
  font-family: 'Roboto';
  font-size: 22px;
  color: black;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 20px;
}

.ScoreContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.ScoreBoard {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  color: white;
}
