.tab_item {
  width: 20%;
  margin: 5px;
  padding: 7px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid green;
  color: black;
  font-family: 'Roboto';
  font-size: 15px;
  height: 50px;
}
.styles {
  width: 20%;
  height: 50px;
  color: orange;
  background-color: black;
  margin: 5px;
  padding: 7px;
  border-radius: 10px;
  font-family: 'Roboto';
  font-size: 15px;
}
